@charset "UTF-8";
img{
	display: block;
}

body, html {
    height: 100%;
}	

li, ol, ul {
	list-style: none;
}

h1, h2, a {
	color: black !important;
	text-decoration: none;
}

.main_header {
	height: 159px;
}

.main_header .inner {
	position: relative;
	height: 159px;
	padding-top: 33px;
	box-sizing: border-box;
	min-width: 1180px;
}

.tit {
	text-align: center;
}

.main_nav {
	height: 69px;
}

.main_nav>ul {
	text-align: center;
	height: 69px;
	margin: 0px;
	padding: 0px;
}

.main_nav>ul>li {
	display: inline-block;
	height: 38px;
}

.main_nav a {
	display: block;
	font-size: 16px;
	line-height: 18px;
	padding: 5px 10px;
}

.menu>li:nth-last-child(2)::before {
	content: "";
	width: 1px;
	height: 11px;
	position: absolute;
	top: 25%;
	background-color: #bbb;
	left: 0;
}

.menu>li:nth-last-child(3) {
	padding-right: 10px;
}

.menu>li:nth-last-child(2) {
	position: relative;
	padding-left: 10px;
}

.ai_c {
	align-items: center !important;
}

.dis_f {
	display: flex;
}

.main_header .tit {
	margin-bottom: 10px;
}

.main_header .header_links {
	position: absolute;
	right: 50px;
	top: 38px;
	font-size: 13px;
}

.header_links>a {
	line-height: 15px;
}

.main_header .header_links>a+a {
	margin-left: 21px;
}

.main_header .header_links>a {
	line-height: 15px;
}

.menus {
	text-align: left;
	position: absolute;
	padding: 0px;
	height: auto;
	width: 150px;
	background-color: rgba(250, 250, 250);
	z-index: 2;
	display: none;
}

.menus>li, .menus>strong {
	margin-left: 10px;
	margin-bottom: 10px;
}

.c_w:hover>a {
	color: white !important;
}

#tops:hover>#topsmenu, #bottoms:hover>#bottomsmenu, #acc:hover>#accmenu
	{
	margin-top: 10px;
	display: block;
}