<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="categoryList">
	
	<select id="list" parameterType="int" resultType="categoryListDto">
		select * from (
			<![CDATA[
			select rownum rn, C.* from(
				select * from category_list where category_id = #{category_id} order by product_regist_dt desc
			]]>
				) C 
		<![CDATA[
		) where rn > = 1 and rn<=10
		]]>
	</select>

</mapper>
