<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="order">
	<select id="list" parameterType="orderViewDto" resultType="orderViewDto">
		select * from order_view where 1=1
		<choose>
			<when test="searchType != null and searchKeyword != null">
				and
				${searchType} like '%' || #{searchKeyword} || '%'
			</when>
			<when test="start_dt != null and end_dt !=null">
				and
				order_date between to_date(#{start_dt},
				'YYYY-MM-DD') and to_date(#{end_dt}, 'YYYY-MM-DD') + 0.99999
			</when>
			<when test="product_name != null">
				and
				product_name like '%' || #{product_name} || '%'
			</when>
			<when test="status != null">
				and
				status like '%' || #{status} || '%'
			</when>
			<when test="cs_status != null">
				and
				cs_status like '%' || #{cs_status} || '%'
			</when>
		</choose>
	</select>

	<select id="seq" resultType="int">
		select orders_seq.nextval from dual
	</select>

	<insert id="insert" parameterType="ordersDto">
		insert into orders values(
		to_char(sysdate,
		'YYYYMMDDHH24MISS')||#{id},
		#{id},
		#{product_id}, #{member_id},
		#{quantity}, sysdate, #{pay_type},
		#{total_price}, #{discount_price},
		<choose>
			<when test="team == null">
				to_char(sysdate,'YYYYMMDDHH24MISS')||#{order_id},
			</when>
			<otherwise>
				#{team},
			</otherwise>
		</choose>
		null, #{cs_status}
		)
	</insert>

	<update id="createSequence">
		create sequence orders_seq
		start with 1000
		maxvalue
		9999
		minvalue 1000
	</update>

	<delete id="dropSequence">
		drop sequence orders_seq
	</delete>
</mapper>










