<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="order">
	<select id="list" parameterType="map" resultType="orderViewDto">
		select * from order_view where 1=1
		<choose>
			<when test="vo != null">
				and
				<foreach collection="vo" separator="or" item="item">
					${item.type} like '%' || #{item.keyword} || '%'
				</foreach>
			</when>
			<when test="dto.start_dt != null and dto.end_dt !=null">
				and
				order_date between to_date(#{dto.start_dt},
				'YYYY-MM-DD') and to_date(#{dto.end_dt}, 'YYYY-MM-DD') + 0.99999
			</when>
			<when test="dto.product_name != null">
				and
				product_name like '%' || #{dto.product_name} || '%'
			</when>
			<when test="dto.status != null">
				and
				status like '%' || #{dto.status} || '%'
			</when>
			<when test="dto.cs_status != null">
				and
				cs_status like '%' || #{dto.cs_status} || '%'
			</when>
		</choose>
	</select>

	<select id="seq" resultType="int">
		select orders_seq.nextval from dual
	</select>

	<insert id="insert" parameterType="ordersDto">
		insert into orders values(
		to_char(sysdate,
		'YYYYMMDDHH24MISS')||#{id},
		#{id},
		#{product_id}, #{member_id},
		#{quantity}, sysdate, #{pay_type},
		#{total_price}, #{discount_price},
		<choose>
			<when test="team == null">
				to_char(sysdate,'YYYYMMDDHH24MISS')||#{order_id},
			</when>
			<otherwise>
				#{team},
			</otherwise>
		</choose>
		null, #{cs_status}
		)
	</insert>

	<update id="createSequence">
		create sequence orders_seq
		start with 1000
		maxvalue
		9999
		minvalue 1000
	</update>

	<delete id="dropSequence">
		drop sequence orders_seq
	</delete>
</mapper>



 






