<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="product">

	<select id="seq" resultType="int">
		select product_seq.nextval from dual
	</select>

	<insert id="regist" parameterType="productDto">
		insert into product(
			id, seller_id, sub_category_id,
			name, price,
			sale_yn, hit_yn, display_yn,
			mainfile, detailfile
		)
		values(
			#{id}, #{seller_id}, #{sub_category_id},
			#{name}, #{price},
			#{sale_yn}, #{hit_yn}, #{display_yn},
			#{mainfile}, #{detailfile}
		)
	</insert>

	<select id="get" parameterType="int" resultType="productDto">
		select * from product where id = #{id}
	</select>
	
	<update id="edit" parameterType="productDto">
		update product
			set
				name = #{name},
				price = #{price},
				sale_yn = #{sale_yn},
				hit_yn = #{hit_yn},
				display_yn = #{display_yn},
				mainfile = #{mainfile},
				detailfile = #{detailfile}
			where
				id = #{id}	
	</update>
	
	<delete id="delete" parameterType="int">
		delete product where id = #{id}
	</delete>
	
	<select id="list" parameterType="String" resultType="productDto">
		select * from product where 1=1
		<if test="seller_id != null">
			and
		 	seller_id = #{seller_id} 
		</if>
		 order by regist_dt desc
	</select>
	
	
</mapper>