<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="seller">

	<insert id="regist" parameterType="sellerDto">
		insert into seller values(
		#{id}, #{pw}, #{name}, #{nickname}, #{email}, #{phone}, sysdate, null
		)
	</insert>

	<select id="idCheck" parameterType="string"
		resultType="sellerDto">
		select * from seller where id = #{id}
	</select>

	<select id="login" parameterType="sellerDto"
		resultType="sellerDto">
		select * from seller where id = #{id} and pw = #{pw}
	</select>

	<delete id="delete" parameterType="string">
		delete seller where id = #{id}
	</delete>


	<select id="get" parameterType="string" resultType="sellerDto">
		select * from
		seller where id= #{id}
	</select>

	<update id="lastlogin" parameterType="sellerDto">
		update seller
		set
		login_dt = sysdate
		where id = #{id}
	</update>

	<update id="change" parameterType="sellerDto">
		update seller
		set
		phone = #{phone},
		email = #{email},
		nickname=#{nickname}
		where
		id = #{id}
	</update>


	<select id="findpw" parameterType="sellerDto"
		resultType="sellerDto">
		select * from seller
		where
		id= #{id}
		and
		email= #{email}
	</select>

	<update id="changePw" parameterType="sellerDto">
		update seller
		set
		pw = #{pw}
		where
		id = #{id}
	</update>

	<select id="findId" parameterType="sellerDto"
		resultType="sellerDto">
		select * from seller
		where
		name= #{name}
		and
		email= #{email}
	</select>


	<select id="search" parameterType="map" resultType="sellerDto">
		select * from
		seller
		where
		${type} like '%' || #{keyword} || '%'
		order by ${type} asc
	</select>
	
	<!-- https://forms.gle/PMPMAMyqRh6c7Ucj6 이미지 신청 주소 -->
</mapper>