<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sizes">

	<insert id="regist" parameterType="sizesDto">
		insert into sizes values(#{product_id}, #{sizes}, #{quantity})
	</insert>
	
	<select id="get" parameterType="int" resultType="sizesDto">
		select * from sizes where product_id = #{id}
	</select>
	
	<update id="edit" parameterType="sizesDto">
		update sizes
			set
				quantity = #{quantity}
			where
				product_id = #{product_id}
				and
				sizes = #{sizes}	
	</update>

</mapper>